# CMS
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=
API_TOKEN_SALT=
ADMIN_JWT_SECRET=
TRANSFER_TOKEN_SALT=

# Database
DATABASE_CLIENT=sqlite
DATABASE_SSL=false
DATABASE_FILENAME=.tmp/data.db
JWT_SECRET=

# NOT USED TOKEN
MAIN_API_TOKEN=


# PATH TO .tmp dir WITH SQLITE
STRAPI_DEV_DB_DIR_PATH=.

# FRONTEND
TOKEN=
DEV_SRC_CODE=
BASE_API_URL=cms:1337